
.about{
    display: flex;
    justify-content: space-between;
    height: 500px;
    
}
.aboutTitle{
    font-style: normal;
font-weight: 400;
font-size: 60px;
color:  #121619;;
text-align: center;
padding-top: 20px;


}

.line{
    border-bottom: 1px solid #121619;
    ;
    width: 479px;
height: 9px;
display: block;
margin: 0 auto;
}
.content{
    width: 80%;;
    height: 500px;
   margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
