
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.contactInput{
    display: block;
    width: 50%;
   margin-top: 20px;
   height: 50px;
   border:none ;
   border-bottom: 1px solid #121619;
 
}
@media screen and (min-width: 320px) and (max-width:  576px) {
    .contactInput{
        width: 50%; 
    }
    
}

.contactBtn{
   display: block;
   width: 50%;;
   margin-top: 10px;
   margin-bottom: 10px;
   border: none;
   border-bottom: 1px solid #121619;
   background-color: white;
   color: gray;
   font-size: 20px;

}
@media screen and (min-width: 320px) and (max-width:  576px) {
    .contactBtn{
        background-color: #121619;
    }
    
}

.contactBtn:hover{
    color: green;
    
}