
.card{
    border: 1px solid white;
    width: 250px;
    height: 320px !important;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.card .name{
text-align: center;
font-size: 22px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
color: #121619;

  
}
.price{
    text-align: center;
    font-size: 20px;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
color: #121619;
}
.photo{
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 100px;
    margin: 0 auto;
    padding-top: 10px;
}