.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .navbar .leftSide {
   
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 60px
  }
  
  .navbar .leftSide img {
    width: 70px;
    padding-top: 20px;
    padding-left: 40px;
    object-fit: cover;
  }
  
  .navbar .rightSide {
  
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    align-items: center;

  }
  
  .navbar ul {
    color: white;
    text-decoration: none;
  
  }
  .navbar li{
    list-style: none;
    margin-right: 23px;
    padding-right: 10px;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  .btnDiv{
    background-color: white;
    color: red;
  }


  @media screen and (min-width: 320px) and (max-width: 576px) {
     .leftSide img{
      display: none;
    };
    .navbar .rightSide{
      color: white;
      width: 100%;

    }
  }